*-debug.log
*-error.log
.nyc_output
dist/
lib/
tmp/
node_modules
*.tsbuildinfo
.idea
coverage
.DS_Store
scripts/mirroring.js
.docs
.booster
.deploy
*-integration-sandbox

# yarn (see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
