.footer-container {
  width: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 0;
  font-size: 1.25rem;
}

@media screen and (min-width: 1280px) {
  .footer-container {
    width: 55%;
  }
}

.footer-ls {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 2rem;
  justify-content: space-around;
}

.footer-ls-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-ls-section-title {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: black;
  text-decoration-line: underline;
}

.footer-ls-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-cr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer-cr p {
  text-align: center;
}

.footer-cr a {
  font-weight: bold;
}