name: Mirror
on:
  pull_request: {types: labeled}

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@0.5.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            var labels = context.issue.labels.map(lbl => lbl.name)
            if(labels.includes('publish')){
              github.pulls.create({
                owner: 'boostercloud',
                repo: 'booster',
                title: context.issue.title,
                head: context.pull.head,
                base: context.pull.base,
                body: context.pull.body
              })
            }
