name: Publish
on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'

jobs:
  publish-npm:
    if: "!contains(github.event.head_commit.author.name, 'GITHUBACTION')
      && (
      startsWith(github.event.head_commit.message, 'BREAKING CHANGE:')
      || startsWith(github.event.head_commit.message, 'feat')
      || startsWith(github.event.head_commit.message, 'fix')
      )"
    runs-on: ubuntu-latest
    steps:
      - run: echo "$DATA"
        env:
          DATA: ${{ toJson(github.event.head_commit) }}
      - uses: actions/checkout@v2-beta
        with:
          token: ${{ secrets.GITHUB_TOKEN_ACTION }}

      # Workaround for https://github.com/actions/checkout/issues/6#issuecomment-520636057
      - name: Prepare repository
        run: git checkout "${GITHUB_REF:11}"

      - name: Configure Git
        run: |
          git remote rm origin
          git remote add origin "https://$USER_NAME:$GITHUB_PAT@github.com/boostercloud/booster.git"
          git fetch
          git config --local user.email "action@github.com"
          git config --local user.name "GITHUBACTION"
        env:
          USER_NAME: ${{ secrets.DEPLOYING_USER_NAME }}
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN_ACTION }} # Token for pushing

      - uses: actions/setup-node@main
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/

      - run: npx lerna bootstrap
      - run: npx lerna run compile

      # Discard all changes that might have occurred after bootstrap
      - run: git stash

      - name: Authenticate with Registry
        run: npm config set "//registry.npmjs.org/:_authToken" "$NPM_TOKEN"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: 'Az CLI login'
        uses: azure/login@v1.4.0
        with:
          creds: '${{ secrets.AZURE_CREDENTIALS }}'

      - name: Running integration tests before release
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.BOT_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.BOT_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
          AZURE_APP_ID: ${{ secrets.AZURE_CLIENTID }}
          AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANTID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTIONID }}
          REGION: East US
          publisherEmail: noreply@booster.cloud
          publisherName: Booster App
        # This is not running the integration tests of other providers. Think how this could be done, as they require some other configuration
        # (as an example, check the k8s tests in "integration-test.yml", it requires a minicube environment)
        # Maybe running them in different jobs
        run: npx lerna run integration --stream

      - name: Discard all the changes after integration tests
        run: git stash

      - uses: theam/actions/lerna-semantic-publish@master
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_ACTION }}
