name: Azure Integration Tests

on:
  workflow_call:
    inputs:
      azure-region:
        default: 'East US'
        required: false
        type: string
      azure-publisher-email:
        default: noreply@booster.cloud
        required: false
        type: string
      azure-publisher-name:
        default: Booster App
        required: false
        type: string

    secrets:
      AZURE_CLIENTID:
        required: true
      AZURE_SECRET:
        required: true
      AZURE_TENANTID:
        required: true
      AZURE_SUBSCRIPTIONID:
        required: true
      AZURE_CREDENTIALS:
        required: true

jobs:
  azure-deploy:
    name: Azure Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run integration test
        uses: ./.github/actions/test-integration-run-one
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          integration-test: azure-deploy
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          azure-region: ${{ inputs.azure-region }}
          azure-publisher-email: ${{ inputs.azure-publisher-email }}
          azure-publisher-name: ${{ inputs.azure-publisher-name }}
          azure-clientid: ${{ secrets.AZURE_CLIENTID }}
          azure-secret: ${{ secrets.AZURE_SECRET }}
          azure-tenantid: ${{ secrets.AZURE_TENANTID }}
          azure-subscriptionid: ${{ secrets.AZURE_SUBSCRIPTIONID }}
          azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}

  azure-integration-tests:
    needs: [azure-deploy]
    strategy:
      max-parallel: 1
      matrix:
        integration-test: [azure-func, azure-end-to-end]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run integration test
        uses: ./.github/actions/test-integration-run-one
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          integration-test: ${{ matrix.integration-test }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          azure-region: ${{ inputs.azure-region }}
          azure-publisher-email: ${{ inputs.azure-publisher-email }}
          azure-publisher-name: ${{ inputs.azure-publisher-name }}
          azure-clientid: ${{ secrets.AZURE_CLIENTID }}
          azure-secret: ${{ secrets.AZURE_SECRET }}
          azure-tenantid: ${{ secrets.AZURE_TENANTID }}
          azure-subscriptionid: ${{ secrets.AZURE_SUBSCRIPTIONID }}
          azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}

  azure-nuke:
    name: Azure Nuke
    needs: [azure-deploy, azure-integration-tests]
    if: always() && needs.azure-deploy.result == 'success'
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run integration test
        uses: ./.github/actions/test-integration-run-one
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          integration-test: azure-nuke
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          azure-region: ${{ inputs.azure-region }}
          azure-publisher-email: ${{ inputs.azure-publisher-email }}
          azure-publisher-name: ${{ inputs.azure-publisher-name }}
          azure-clientid: ${{ secrets.AZURE_CLIENTID }}
          azure-secret: ${{ secrets.AZURE_SECRET }}
          azure-tenantid: ${{ secrets.AZURE_TENANTID }}
          azure-subscriptionid: ${{ secrets.AZURE_SUBSCRIPTIONID }}
          azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
