name: Sync
on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
      - name: repo-sync
        uses: wei/git-sync@v1
        env:
          SOURCE_REPO: 'git@github.com:boostercloud/booster.git'
          SOURCE_BRANCH: 'master'
          DESTINATION_REPO: 'git@github.com:theam/booster.git'
          DESTINATION_BRANCH: 'master-mirror'
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        with:
          args: $SOURCE_REPO $SOURCE_BRANCH $DESTINATION_REPO $DESTINATION_BRANCH
