name: Lint and Format
on:
  pull_request:
    branches:
      - main
      - '1.0.0'
    paths-ignore:
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        uses: ./.github/actions/build

      - name: Check linting
        uses: ./.github/actions/call-rush
        with:
          command: 'lint:check -v'
